body {
  color: white;
  font-family: "Sour Gummy", sans-serif;
}

.img {
  width: 20px;
}


.header {
  background-color: #dc3546;
  padding: 25px;
  text-align: center;
  color: white;
}

.card {
  background-color: #dc3546;
}

.container {
  padding: 2px 16px;
  color: white;
}

.column {
  display: inline;
  width: 25%;
  padding: px;
}

.row {
  justify-content: center;
}

.Ccontainer {
  text-align: center;
}

a {
  text-decoloration: none;
  text-decoration:none;
  color: white;
}

.footer {
  text-align: center;
  background-color: #dc3546;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px;
  position: fixed;
}
